In [1]:
import numpy as np
import pandas as pd
from IPython.display import display
customers_df=pd.read_csv('customers.csv')
items_df=pd.read_csv('Items.csv')
orders_df=pd.read_csv('orders.csv')
order_item_df=pd.read_csv('order_item.csv')

customer_df_clean = customers_df.dropna()
items_df_clean = items_df.dropna()
orders_df_clean = orders_df.dropna()
order_items_clean = order_item_df.dropna().copy()
order_items_clean['item_id'] = order_items_clean['item_id'].astype(int)
order_items_clean.rename(columns={'id': 'order_item_id'},inplace=True)

In [25]:
#3. Add a total_price column to the order_item table, calculating the purchase cost (product price * quantity)
order_item_merged=order_items_clean.merge(items_df_clean, left_on='item_id', right_on='id', how='inner')
order_item_merged['total_price']=order_item_merged['quantity']*order_item_merged['item_price']
order_item_merged.sort_values('order_id')

,order_item_id,order_id,item_id,quantity,id,item_name,item_category,item_price,stock_quantity,item_brand,item_availability,total_price
456,728,1,34,5,34,HDMI Cable,Cables,1710.84,869.0,JBL,True,8554.20
437,699,2,11,3,11,Blu-Ray Player,Video Players and Recorders,3382.86,704.0,ASUS,True,10148.58
176,271,3,34,4,34,HDMI Cable,Cables,1710.84,869.0,JBL,True,6843.36
83,125,4,4,1,4,Smartphone,Mobile Devices and Accessories,965.20,201.0,Bose,True,965.20
317,512,5,7,9,7,Camera,Photography Equipment,2366.72,458.0,Microsoft,True,21300.48
...,...,...,...,...,...,...,...,...,...,...,...,...
621,996,594,24,2,24,Drone,Televisions and Displays,4449.99,443.0,Samsung,True,8899.98
373,604,597,34,1,34,HDMI Cable,Cables,1710.84,869.0,JBL,True,1710.84
37,55,599,6,5,6,Printer,Printers and Office Equipment,4175.99,971.0,Sony,True,20879.95
36,54,599,31,7,31,Wireless Charger,Mobile Devices and Accessories,241.54,951.0,Lenovo,True,1690.78
357,573,599,47,2,47,Printer,Printers and Office Equipment,3704.16,239.0,Toshiba,True,7408.32

In [69]:
#4. Display each purchase and its total price
order_total_groups=order_item_merged.groupby('order_id')['total_price'].sum().reset_index()
orders_total_price=orders_df_clean.merge(order_total_groups,on='order_id',how='left')
orders_total_price.dropna(inplace=True)
orders_total_price

,order_id,customer_id,delivery_address,delivery_days,order_date,payment_method,order_source,total_price
0,1,477.0,576 Cordelia Place,2.0,2023-12-05,GIFT_CARD,WEBSITE,8554.20
1,2,93.0,4664 6th Drive,4.0,2023-08-17,CASH,STORE,10148.58
2,3,474.0,8766 4th Point,4.0,2023-02-25,CHECK,STORE,6843.36
3,4,333.0,31 Bonner Way,3.0,2023-02-04,CASH,STORE,965.20
4,5,436.0,20352 Shelley Way,5.0,2023-06-01,CASH,STORE,28174.78
...,...,...,...,...,...,...,...,...
477,589,233.0,44 Cardinal Terrace,3.0,2023-05-01,GIFT_CARD,WEBSITE,29349.43
478,591,126.0,2962 Susan Street,4.0,2023-06-08,GIFT_CARD,WEBSITE,14803.42
479,594,480.0,242 Brown Avenue,6.0,2023-02-18,GIFT_CARD,STORE,54186.82
482,597,209.0,37392 Sullivan Park,4.0,2023-08-23,CREDIT_CARD,WEBSITE,1710.84
484,599,72.0,2 Nancy Crossing,4.0,2023-02-09,CASH,STORE,29979.05